@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	display: flex;
	align-items: center; /* Vertically center the content */
	justify-content: center; /* Horizontally center the content */
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.bubles {
	position: fixed;
	display: flex;
	z-index: -100;
}

.bubles span {
	position: relative;
	width: 500px;
	height: 500px;
	background-color: #e5e5e5;
	border-radius: 50%;
	animation: animate 20s linear infinite;
	animation-duration: calc(350s / var(--i));
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.bubles span:nth-child(odd) {
	border: hsl(247.17deg, 64.37%, 48.43%) solid 25px;
	background-color: transparent;
	width: 150px;
	height: 150px;
}

.bubles span:nth-child(2) {
	background-color: hsl(270.94deg, 56.14%, 44.71%);
	width: 350px;
	height: 350px;
}

.bubles span:nth-child(5) {
	border: solid #d8d4f4 50px;
	width: 350px;
	height: 350px;
}

.bubles span:last-child {
	background-color: hsl(270.94deg, 56.14%, 44.71%);
	width: 350px;
	height: 350px;
	border: none;
}

@keyframes animate {
	0% {
		transform: translateY(120vh) scale(0);
	}
	50% {
		transform: translateY(-30vh) scale(1);
	}
	100% {
		transform: translateY(120vh) scale(0);
	}
}

section {
	background-color: #fff;
	max-width: 1000px;
	box-shadow: 5px 5px 20px rgba(229, 229, 229, 0.7);
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo {
	margin-right: 400px;
}

.logo img {
	width: 55px;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	padding: 20px;
}

a {
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: hsl(0deg, 0%, 39.61%);
	transition: transform 0.3s;
}

a:hover {
	text-decoration: underline hsl(296.18deg, 100%, 43.14%) 3px;
	transform: scale(1.1);
}

a:active {
	color: hsl(259.72deg, 69.76%, 59.8%);
	text-decoration: underline hsl(259.72deg, 69.76%, 59.8%) 3px;
}

.left {
	flex: 60%;
	margin-bottom: 50px;
}

.left img {
	width: 85%;
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
}
.right {
	flex: 40%;
	margin-right: 30px;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 14px;
	color: hsl(0deg, 0%, 39.61%);
}
button {
	color: white;
	text-transform: uppercase;
	background-color: hsl(259.72deg, 69.76%, 59.8%);
	margin: 8px 0;
	padding: 16px 60px;
	border: none;
	border-radius: 100px;
	transition: transform 0.3s;
}

button:hover {
	background-color: hsl(296.18deg, 100%, 43.14%);
	color: #fff;
	transform: scale(1.1);
}

button:active {
	transform: translateY(5px);
}
@media (max-width: 960px) {
	.styled-break {
		visibility: hidden;
	}
}

@media (max-width: 768px) {
	section {
		padding: 20px;
		background-color: transparent;
		box-shadow: none;
	}

	.content {
		flex-direction: column;
		text-align: center;
	}

	nav {
		margin-top: 40px;
		visibility: hidden;
	}
	.logo {
		margin-right: 0;
		visibility: visible;
	}

	.logo img {
		border-radius: 20px;
	}

	.left {
		margin-left: 0;
	}

	.right {
		margin-right: 0;
	}
}

.styled-break {
	width: 70px;
	height: 4px;
	border-radius: 2.5px;
	margin-top: 50px;
	margin-bottom: 40px;
	background-color: black;
}
